@import "Consts.css";

.CatsPage{
    background: var(--background);
    font-family: var(--font-style);
    height: 1850px;
}
h1
{
    text-align: var(--text-align);
    font-size: 44px;
}
table
{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
thead
{
    border-width: var(--border-width);
}
tr
{
    border: var(--border);
    text-align: var(--text-align);
}
td
{
    border: var(--border);
    border-width: var(--border-width);
    font-size: 20px;
    font-weight: bold;
}
img
{
    width: 190px;
}